@import 'tailwindcss';


@theme {
  --color-background: #010101;
  --color-foreground: #fefefe;
  --color-primary-dark: #0D9488;
  --color-primary-light: #10B981;
  --color-secondary-dark: #6366F1;
  --color-secondary-light: #9333EA;
}

@media (prefers-color-scheme: light) {
  @theme {
    --color-foreground: #010101;
    --color-background: #fefefe;
  }
}

@layer utilities {
  body {
    @apply flex items-center justify-center bg-background min-h-screen w-screen
  }

  #root {
    @apply w-full h-full flex flex-col items-center justify-center gap-4
  }
}
