@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-color: #fefefe;
  --fg-color: #010101;
}

.dark {
  --bg-color: #111827;
  --bg-color-dark: var(--bg-color);
  --bg-color-light: #1F2937;
  --bg-card: var(--bg-color-light);
  --fg-color: #fefefe;
}

@theme inline {
  --color-background: var(--bg-color);
  --color-card: var(--bg-card);
  --color-foreground: var(--fg-color);
  --color-gradient-light: var(--bg-color-light);
  --color-gradient-dark: var(--bg-color-dark);
}

@theme {
  --color-primary-dark: #0D9488;
  --color-primary-light: #10B981;
  --color-secondary-dark: #6366F1;
  --color-secondary-light: #9333EA;
}

@layer base {
  body {
    @apply flex items-center justify-center min-h-screen w-screen
  }

  #root {
    @apply w-full h-full bg-background text-foreground
  }
}
