.loading-container {
  color: var(--color-foreground);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid #eee;
  border-top: 8px solid var(--color-primary-light);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
